html,
body,
* {
  text-align: center;
  padding: 0;
  margin: auto;
  font-size: 62.5%;
}

#app {
  margin-top: 8rem;
  text-align: center;
  font-size: 10rem;
}

.TextBox {
  font-size: 4rem;
  margin: 1.2rem;
}

#submitted {
  font-size: 3rem;
  padding: 1rem;
  background-color: blueviolet;
  border-radius: 2.5rem;
}

#results {
  width: 25rem;
  height: 20rem;
  padding: 5rem 5rem 0rem 5rem;
  margin-top: 5rem;
  border-radius: 3rem;
  background-color: blueviolet;
}
