html,
body,
* {
  text-align: center;
  padding: 0;
  margin: auto;
  font-size: 62.5%;
}

#title {
  margin-top: 1rem;
  font-size: 8rem;
}

#text {
  font-size: 3rem;
}

#historyBtn {
  font-size: 3rem;
  padding: 1rem;
  background-color: blueviolet;
  border-radius: 2.5rem;
  margin-top: 5rem;
}

#historyBox {
  font-size: 3rem;
  padding: 5rem 5rem 5rem 5rem;
  background-color: blueviolet;
  border-radius: 2.5rem;
  margin: 2.5rem 45rem 5rem 45rem;
}

.TextBox {
  font-size: 4rem;
  margin: 1.2rem;
}

#submitted {
  font-size: 3rem;
  padding: 1rem;
  background-color: blueviolet;
  border-radius: 2.5rem;
}

#reset {
  font-size: 3rem;
  padding: 1rem;
  margin-left: 5rem;
  background-color: blueviolet;
  border-radius: 2.5rem;
}

#Card {
  width: 25rem;
  height: 20rem;
  padding: 5rem 5rem 0rem 5rem;
  margin-top: 5rem;
  border-radius: 3rem;
  background-color: blueviolet;
  font-size: 4rem;
}

#HCard {
  width: 35rem;
  height: 5rem;
  margin-top: 3rem;
  font-size: 4rem;
}
